# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Shared SMTP Config
EMAIL_FROM=
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_PORT=587

# Paystack Credentials
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

# Google AI
GOOGLE_GENERATIVE_AI_API_KEY=

# ZohoCRM
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=

# External APIs
NEXT_PUBLIC_CURRENCY_API_KEY=
SENDER_API_KEY=
